<div class="contents row">
  <%= form_tag("/blogs/#{@blog.id}", method: :patch ) do %>
    <h5>
      編集する
    </h5>
    <input placeholder="title" type="text" name="name" value="<%= @blog.name %>" autofocus="true">
    <textarea cols="30" name="content" placeholder="text" rows="10"><%= @blog.content%></textarea>
    <input type="submit" value="完了">
  <% end %>
</div>
