<div class="contents row">
  <%= form_tag("/blogs/#{@blog.id}", method: :patch ) do %>
    <h3>
      編集する
    </h3>
    <input placeholder="title" type="text" name="name" value="<%= @blog.name %>" autofocus="true">
    <textarea cols="30" name="content" placeholder="text" rows="10"><%= @tweet.text %></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>
