<div class="contents row">
  <div class= "container">
    <%= form_for @blog do |f| %>
      <h5>投稿する</h5>
        <%= f.text_field :name, placeholder: "ブログタイトル" %>

        <%= f.text_area :content, placeholder: "本文", cols:"30", rows:"10" %>

      <div class="actions">
        <%= f.submit :"投稿する" %>
      </div>
    <% end %>


  </div>
</div>
