<div class="contents row">
  <div class= "container">
    <%= form_tag('/blogs', method: :post) do %>
      <h5>投稿する</h5>
      <input placeholder="blog title" type="text" name="name" autofocus="true">
      <textarea placeholder="content" name="content" cols="30" rows="50"></textarea>
      <input type="submit" value="投稿する">
    <% end %>
  </div>
</div>
